.marketing-section {
  background-image: url('/images/mobile-bread-bg.png');
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
  background-size: 100%;
}

@media screen and (min-width: 768px) {

  .marketing-section {
      max-width: 550px;
    background-image: url('/images/tablet-bread-bg.png');
  }
}

@media screen and (min-width: 1024px) {
  .marketing-section {
    max-width: none;
    min-height:auto;
    background-image: url('/images/desktop-bread-bg.png');;
  }
}
