:root {
	interpolate-size: allow-keywords;
}

details {
	overflow: hidden;
}

details::details-content {
	block-size: 0;
	transition:
		block-size 0.2s,
		content-visibility 0.2s;
	transition-behavior: allow-discrete;
}

details[open]::details-content {
	block-size: auto;
}

.faq-answer-content {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.5s ease-out;
}

details[open] > .faq-answer-content {
	grid-template-rows: 1fr;
}

details summary::-webkit-details-marker {
	display: none;
}

summary::after {
	content: "";
	width: 18px;
	height: 18px;
	background: url("/icons/chevron-down.svg");
	background-size: cover;
	transition: 0.2s;
	margin: auto 0 auto 0;
}

summary:hover:after {
	border: 1px gray solid;
	border-radius: 10px;
}

details[open] > summary::after {
	transform: rotate(180deg);
}
