@font-face {
  font-family: 'ghPlain';
  src: url('/fonts/gh-plain.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'ghSimple' ;
	src: url('/fonts/gh-simple.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ghSimpleItalic' ;
	src: url('/fonts/gh-simple-italic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}



@font-face {
  font-family: 'ghSimpleBold';
  src: url('/fonts/gh-simple-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
	font-family: 'ghSimpleBoldItalic' ;
	src: url('/fonts/gh-simple-bold-italic.otf') format('opentype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'ghSimpleDemiBold' ;
	src: url('/fonts/gh-simple-demi-bold.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'ghSimpleDemiBoldItalic' ;
	src: url('/fonts/gh-simple-demi-bold-italic.otf') format('opentype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'ghSimpleRustic' ;
	src: url('/fonts/gh-simple-rustic.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ghModDisplay' ;
	src: url('/fonts/gh-mod-display.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ghModDisplayLight' ;
	src: url('/fonts/gh-mod-display-light.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ghDisplay' ;
	src: url('/fonts/gh-display.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
