@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-brandBlue: #0A2240;
	--color-darkGreen: rgb(108, 134, 61);
	--color-cream: #F5F3F1;
	--color-logoOrange: #DE6048;
	--color-lightBeigeOp: #F5F3F1B2;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
