@import "tailwindcss";
@import "./fonts.css";

:root {
	--cream: #f5f3f1;
	--foreground: #302b24;
	--secondary-content: #ffffff;
	--second-text: #302b24;
	--lightBeigeOp: #f5f3f1b2;
	--bgTan: #f2ebe1;
	--tan: #d7c1a03d;

	/* new colors for v4 */
	--brand-blue: #0a2240;
	--translucent-blue: #0A22408C;
	--light-tan: #d0c6b7;
	--wheat-extra-light: #edd5ac4d;
	--wheat-light: #e9d4b0;
	--wheat-medium: #debe91;
	--wheat-dark: #c7a983;
	--logo-orange: #dd4a2f;
	--dark-wood: #5e3d1d;
	--charcoal-gray: #534f49;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-secondary-content: var(
		--secondary-content
	);
	--color-primary: var(--primary);
	--color-accent: var(--accent);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-darkGreen: var(--darkGreen);
	--color-cream: var(--cream);
	--color-lightBeigeOp: var(--lightBeigeOp);
	--color-tan: var(--tan);
	--color-second-text: var(--second-text);
	--color-bgTan: var(--bgTan);

	/* new colors for v4 */
	--color-brand-blue: var(--brand-blue);
	--color-translucent-blue: var(--translucent-blue);
	--color-light-tan: var(--light-tan);
	--color-logo-orange: var(--logo-orange);
	--color-wheat-extra-light: var(
		--wheat-extra-light
	);
	--color-wheat-light: var(--wheat-light);
	--color-wheat-medium: var(--wheat-medium);
	--color-wheat-dark: var(--wheat-dark);
	--color-charcoal-gray: var(--charcoal-gray);


	--font-ghPlain: 'ghPlain',  "sans-serif";
	--font-ghSimple: 'ghSimple', "sans-serif";
	--font-ghSimpleItalic: 'ghSimpleItalic', "san-serif";
	--font-ghSimpleBold: 'ghSimpleBold', "san-serif";
	--font-ghSimpleBoldItalic: 'ghSimpleBoldItalic', "san-serif";
	--font-ghSimpleDemiBold: 'ghSimpleDemiBold', "san-serif";
	--font-ghSimpleDemiBoldItalic: 'ghSimpleDemiBoldItalic', "san-serif";
	--font-ghSimpleRustic: 'ghSimpleRustic', "san-serif";
	--font-ghDisplay: 'ghDisplay', "san-serif";
	--font-ghModDisplay: 'ghModDisplay', "san-serif";
	--font-ghModDisplayLight: 'ghModDisplayLight', "san-serif";
}


html {
	scroll-behavior: smooth;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: 'ghSimple';
}

@utility scalloped-border {
	.scalloped-border {
		position: relative;
		padding: 1rem;
	}

	.scalloped-border::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 2px solid var(--color-accent);
		background:
			radial-gradient(
					circle at 100% 100%,
					transparent 0.5rem,
					var(--color-accent) 0.5rem
				)
				top left,
			radial-gradient(
					circle at 0 100%,
					transparent 0.5rem,
					var(--color-accent) 0.5rem
				)
				top right,
			radial-gradient(
					circle at 100% 0,
					transparent 0.5rem,
					var(--color-accent) 0.5rem
				)
				bottom left,
			radial-gradient(
					circle at 0 0,
					transparent 0.5rem,
					var(--color-accent) 0.5rem
				)
				bottom right;
		background-size: 51% 51%;
		background-repeat: no-repeat;
		border-radius: 1rem;
	}
}
