.title-text-shadow{
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
	-webkit-text-stroke: 0.1px black;
}

	.landing-section {
	background-image: url('/images/landing-hero1.png');
	background-size: 120%;
	background-position: center 90%;
	background-repeat: no-repeat;
	}

@media screen and (min-width: 640px) {

	.landing-section {
	background-image: url('/images/landing-hero1.png');
	background-size: 110%;
	background-position: center 97%;
	}

}

@media screen and (min-width: 768px) {

	.landing-section {
	background-image: url('/images/landing-hero1.png');
	background-size: 100%;
	background-position: center 95%;
	}
}

@media screen and (min-width: 1024px) {
	.landing-section {
	background-image: url('/images/landing-hero1.png');
	background-size: 100%;
	background-position: center 99%;
	}
}
