text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
}

.landing-section-wrapper {
  position: relative;
  z-index: -1;
	min-height: 100vh;
}

.first-stroke::after {
  content: "";
  background-color: var(--brandBlue);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -8px;
clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 95%, 0 85%);
z-index: -1;
}

.first-stroke::before {
  content: "";
  background-color: white; /* Change to desired color */
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -25px; /* Lowered below first stroke */
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 95%, 0 85%);
  z-index: -1;
}

.second-stroke::before {
  content: "";
  background-color: var(--accent); /* Change to desired color */
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -33px; /* Lowered below first stroke */
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 95%, 0 85%);
  z-index: -2;
}

.second-stroke::after {
	  content: "";
  background-color: white; /* Change to desired color */
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -50px; /* Lowered below first stroke */
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 95%, 0 85%);
  z-index: -3;
}

.third-stroke::before {
	content: "";
  background-color: var(--logoOrange); /* Change to desired color */
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -58px; /* Lowered below first stroke */
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 95%, 0 85%);
  z-index: -4;
}

.third-stroke::after {
	content: "";
  background-color: white; /* Change to desired color */
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -70px; /* Lowered below first stroke */
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 95%, 0 85%);
  z-index: -5;
}

.landing-section-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url("/images/mobile-harvest-landing-image.png");
  background-size: 300% auto;
  background-position-x: 49%;
  background-position-y: 55%;

  clip-path: polygon(
    0 0,
    100% 0,
    100% 85%,
    50% 95%,
    0 85%
  );
}

.bread-pattern-bg {
  background-image: url("/bread-bg-icon.svg");
  background-color: var(--background);
  background-repeat: repeat;
  background-size: 110px 140px;
}

@media screen and (min-width: 768px) {
  .landing-section-container {
    height: 110vh;
    background-size: 125% auto;
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .landing-section-container {
    height: auto;
    background-image: url("/images/mobile-harvest-landing-image.png");
    background-size: 100% auto;
    clip-path: none;
  }
}
